<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pressure Monitoring - @ViewData["Title"]</title>
    <partial name="_Styles" />
    @RenderSection("Styles", required: false)
   
</head>


<!-- Page Wrapper -->
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-white shadow-lg sidebar sidebar-light accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-centerange-field" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon">
                    <img src="~/assets/img/patra-niaga-logo.webp" alt="Patra Niaga Logo" class="img-fluid" style="max-height:50px;">
                </div>
                <div class="sidebar-brand-text" style="font-size: small;">
                    <img src="~/assets/img/patra-niaga-label.webp" alt="Patra Niaga Label" class="img-fluid" style="max-height:50px;">
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Historical" asp-action="Index">
                    <i class="fas fa-history"></i>
                    <span>Historical</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Alarm" asp-action="Index">
                    <i class="fas fa-bell fa-fw"></i>
                    <span>Alarms Log</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Configuration Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-cogs"></i>
                    <span>Configuration</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Settings :</h6>
                        <a class="collapse-item" asp-area="" asp-controller="AlarmSettings" asp-action="Index">
                            <i class="fas fa-exclamation-circle"></i>
                            <span>Alarm Set Point</span>
                        </a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="" asp-action="">
                    <i class="fas fa-info-circle fa-fw"></i>
                    <span>About App</span>
                </a>
            </li>
            <!-- End Nav Item - Configuration Collapse Menu -->

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Logo Citia -->
            @*<div class="sidebar-card d-none d-lg-flex bg-transparent">
                <a href="https://citia-engineering.com/">
                    <img src="~/assets/img/citia_logo_putih.png" alt="Citia Engineering" width="90" height="90" class="py-1" />
                </a>
            </div>*@
            <!-- End Sidebar Logo Citia -->
        </ul>
        <!-- End Sidebar -->

        <div class="content-wrapper" style="width: 100%;">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-3 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Alarm Section -->
                <ul class="navbar-nav">
                    <li class="nav-item mt-1">
                        <span class="">
                            Alarm
                        </span>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item mt-1">
                        <span class="btn btn-danger btn-sm px-3 py-1 cursor-pointer" id="blinkingText">
                            Pressure : <b id="press-value"></b>
                        </span>
                        <audio id="sound" src="~/assets/wav/alarmSound.wav"></audio>
                    </li>
                </ul>
                <!-- End Alarm Section -->
                

            </nav>
            <!-- End of Topbar -->
            @RenderBody()
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <partial name="_Scripts" />
    <script>
        //ready document
        $(document).ready(function () {
            var blinkingText = document.getElementById("blinkingText");
            var press = document.getElementById("press-value");
            var sound = document.getElementById("sound");
            var visibleDuration = sound.duration * 1000; // Duration in milliseconds for the visible state
            var hiddenDuration = visibleDuration / 2; // Duration in milliseconds for the hidden state
            var blinkInterval; // Variable to store the interval ID


            function blinkText() {
                if (blinkingText.style.visibility === "" || blinkingText.style.visibility === "visible") {
                    blinkingText.style.visibility = "hidden";
                    setTimeout(function () {
                        blinkingText.style.visibility = "visible";
                        sound.play();
                    }, hiddenDuration);
                } else {
                    blinkingText.style.visibility = "visible";
                    setTimeout(function () {
                        blinkingText.style.visibility = "hidden";
                        sound.pause();
                        //sound.currentTime = 0;
                    }, visibleDuration);
                }
            }
            function Disabled() {
                blinkingText.style.visibility = "hidden";
                sound.pause();
                sound.currentTime = 0;
            }
            function SettingAlarm() {
                $.ajax({
                    url: '@Url.Action("GetLiveData","Home")',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log('DATA: ', data);
                        press.textContent = data.toString()+" Bar";
                        if (data > 7) {
                            blinkText();
                        }
                        else {
                            Disabled();
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
            function handleMouseEnter() {
                clearInterval(blinkInterval); // Clear the blinking interval
                blinkingText.style.visibility = "visible";
            }

            //function handleMouseLeave() {
            //    clearInterval(blinkInterval); // Clear the blinking interval
            //    blinkingText.style.visibility = "hidden";
            //    blinkInterval = setInterval(blinkText, visibleDuration + hiddenDuration); // Start the blinking interval from hidden state
            //}

            blinkInterval = setInterval(SettingAlarm, visibleDuration + hiddenDuration); // Start the initial blinking interval

            blinkingText.addEventListener("mouseenter", handleMouseEnter);
            ////blinkingText.addEventListener("mouseleave", handleMouseLeave);
        });
    </script>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
