@model PressMon.Web.Models.TankHistorical
    <!-- Tank Table -->
<div class="table-responsive">
    <table id="tb-tankhistorical" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>Tank</th>
                <th>Product</th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LiquidLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WaterLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LiquidTemperature)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LiquidDensity)
                </th>
            </tr>
        </thead>
    </table>
</div>
<!-- End Tank table -->