@model TMS.Web.Models.Alarm
<!-- Tank Table -->
<div class="table-responsive">
    <table id="tb-alarms" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AlarmID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlarmStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pressure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </th>
            </tr>
        </thead>
    </table>
</div>

