@model TMS.Web.Models.Historical
@{
    ViewData["Title"] = "Historical Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!-- Begin Page Content -->
<head>
    @section Scripts{
        @* <script src="https://cdn.jsdelivr.net/npm/tableexport@5.2.0/dist/js/tableexport.min.js"></script> *@
        <script type="text/javascript" asp-append-version="true">
            var oTable;
            $(document).ready(function () {
                // Initialize DataTable
                oTable = $('#tb-historical').DataTable({
                    "serverSide": true, // for process server side
                    "scrollY": true,
                    "scrollX": true,
                    "autoWidth": false,
                    "scrollCollapse": true,
                    "paging": true,
                    "fixedColumns": true,
                    "processing": true,
                    "ajax": {
                        "url": "@Url.Action("LoadData","Historical")",
                        "type": "POST",
                        "datatype": "json",
                        "data": function (d) {
                            d.datefrom = document.getElementById("date-From").value;
                            d.dateuntil = document.getElementById("date-Until").value;
                            d.dateFilter = document.getElementById("date-Filter").value;
                        }
                    },
                    "columnDefs": [{
                        "targets": 0,
                        "visible": false,
                        "searchable": false
                    }],
                    "columns": [
                        { "data": "historicalID", "name": "HistoricalID", "autoWidth": true },
                        { "data": "locationName", "name": "LocationName", "autoWidth": true },
                        { "data": "pressure", "name": "Pressure", "autoWidth": true },
                        {
                            "data": "timeStamp",
                            "name": "TimeStamp",
                            "autoWidth": true,
                            "render": function (data, type, row) {
                                if (type === 'display' || type === 'filter') {
                                    // Convert the timestamp to the desired format
                                    var timestamp = new Date(data);
                                    var formattedTimestamp = `${timestamp.getDate().toString().padStart(2, '0')}-${(timestamp.getMonth() + 1).toString().padStart(2, '0')}-${timestamp.getFullYear()} ${timestamp.getHours().toString().padStart(2, '0')}:${timestamp.getMinutes().toString().padStart(2, '0')}:${timestamp.getSeconds().toString().padStart(2, '0')}`;
                                    return formattedTimestamp;
                                }
                                // For sorting and other purposes, return the original data
                                return data;
                            }
                        },
                    ]
                });

                // Create date inputs
                minDate = new DateTime($('#date-From'), {
                    format: 'D MMMM yyyy HH:mm:ss'
                });
                maxDate = new DateTime($('#date-Until'), {
                    format: 'D MMMM yyyy HH:mm:ss'
                });

            });

            // document.getElementById("btnResetFilter").addEventListener("click", reset);
            function reset() {
                document.getElementById("date-From").value = "@DateTime.Now";
                document.getElementById("date-Until").value = "@DateTime.Now";
                reloadTable();
            }

            // document.getElementById("btnExportToExcel").addEventListener("click", exportToExcel);
            function exportToExcel() {
                var dateFrom = document.getElementById("date-From").value;
                var dateUntil = document.getElementById("date-Until").value;

                $.ajax({
                    url: '@Url.Action("ExportToExcel")',
                    method: 'POST',
                    data: { DateFrom: dateFrom, DateUntil: dateUntil },
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (response) {
                        // Create a hidden link to download the file
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(new Blob([response]));
                        link.download = 'Pressure Transmitter Historical.xlsx';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    },
                    error: function (xhr, status, error) {
                        // Handle the error
                        console.log(xhr.responseText);
                    }
                });
            }

            function reloadTable() {
                oTable.ajax.reload(null, false);
            }
        </script>
        
    }
</head>
<!-- Begin Page Content -->
<div class="container-fluid" style="width: 100%;">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Historical List</h1>
        <a value="reload" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm" onclick="reloadTable()">
            <i class="fas fa-redo-alt"></i>
        </a>
    </div>

    <!-- Submain Content -->
    <div class="card shadow-lg rounded" style="font-size:12px;">
        <div class="card-header bg-gradient-info p-1"></div>
        <div class="card-body">

            <!-- Filter -->
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <input class="form-control" id="date-From" placeholder="Date From" onchange="reloadTable();" type="text" value="@DateTime.Now.ToString("dd MMMM yyyy 00:00:00")">
                    </div>
                    <div class="form-group col-md-3">
                        <input class="form-control" id="date-Until" placeholder="Date Until" onchange="reloadTable();" type="text" value="@DateTime.Now.ToString("dd MMMM yyyy HH:mm:ss")">
                    </div>
                    <div class="form-group col-md-3">
                        <select class="form-control" id="date-Filter" onchange="reloadTable();" data-placeholder="Select Time">
                            <option selected value="AllTime">All Time</option>
                            <option value="Today">Today</option>
                            <option value="Hourly">Hourly</option>
                            <option value="Minutely">Minutely</option>
                        </select>
                    </div>
                    
                    <div class="col-md-3 text-right">
                        <button type="button" class="btn btn-success" id="btnExportToExcel" onclick="exportToExcel()">
                            Export Excel
                        </button>
                        <button type="button" class="btn btn-info" id="btnResetFilter" onclick="reset()">
                            Reset Filter
                        </button>
                    </div>
                    
                </div>
            </form>

            <!-- Divider -->
            <hr class="sidebar-divider mt-1">

            <!-- Tank Table -->
            @await Html.PartialAsync("_ViewAll", Model)
            <!-- End Tank table -->

        </div>
    </div>
    <!-- End Submain Content -->

</div>
<!-- End Page Content -->
