@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<head>
    @section Scripts{
        <script type="text/javascript">
            var intervalModalShow;
            var intervalHomeLoad;
            var TankId;
            $(document).ready(function () {
                jQuery.noConflict();
                setInterval(realTimeData, 1000);
                $("#viewModal").on('show.bs.modal', function () {
                    intervalModalShow = setInterval(realTimeDataPopUp, 1000);
                });
                $('#viewModal').on('hidden.bs.modal', function () {
                    clearInterval(intervalModalShow);
                });
            });
            //end document
            function setDatatoTank(tankData) {
                let tankLevel = tankData.level;
                let tankLevelFixed = tankLevel.toFixed(2);
                document.getElementById(tankData.tankId).innerHTML = tankLevelFixed.toString() + " mm";
            }

            function realTimeData() {
                //console.log(TankId);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetData")",
                    dataType: "json",
                    success: function (result) {
                        //var data = JSON.stringify(result);
                        //console.log(data);
                        for (tnk in result) {
                            setDatatoTank(result[tnk]);
                        }

                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            }
            function realTimeDataPopUp() {
                var Id = {
                    Id : TankId
                };
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetDataByTankId")",
                    dataType: "json",
                    data: Id,
                    success: function (result) {
                        var persenLevel = result.persLevel;
                        var persenVolume = result.persVolume;
                        //progress bar level
                        let progressBarLevel = document.getElementById("progLevel");
                        progressBarLevel.style.width = persenLevel.toString() + "%";
                        progressBarLevel.setAttribute("aria-valuenow", persenLevel);
                        //progress bar volume
                        let progressBarVolume = document.getElementById("progVolume");
                        progressBarVolume.style.width = persenVolume.toString() + "%";
                        progressBarVolume.setAttribute("aria-valuenow", persenVolume);
                        //set table table 
                        $("#tbName").text(result.name);
                        $("#tbProduct").text(result.productName);
                        $("#tbTimeStamp").text(result.timeStamp);
                        $("#tbLevel").text(result.level);
                        $("#tbTemp").text(result.temperature);
                        $("#tbDensity").text(result.density);
                        $("#tbGrossVolume").text(result.grossVolume);
                        $("#tbNetVolume").text(result.netVolume);
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            }
            function OpenModal(data)
            {
                var value = data.value;
                console.log("Modal Open");
                TankId = value;
                jQuery.noConflict();
                $("#viewModal").modal();
                $("#viewModal").modal('show');
            }

            function getRow()
            {
                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetRow")",
                    dataType: "json",
                     success: function (result) {
                         console.log(result);

                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            }
        </script>
    }

</head>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Dashboard</h1>
        <a value="reload" onclick="document.location.reload(true)" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
            <i class="fas fa-redo-alt"></i>
        </a>
    </div>

    <!-- Tank Monitoring -->
    <div class="row">
        @{
            var tanks = ViewBag.Tanks;
        }
        @foreach (var tank in tanks)
        {
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-1 mb-3">
                <div class="card shadow bg-white rounded">
                    <img src="~/assets/img/tank-mini2.webp" class="card-img-top p-2" style="border-bottom:5px solid @tank.HexColor;" alt="tank-picture">

                    <div class="card-img-overlay mt-5 mb-5 mr-3">
                        <div class="caption text-center">
                            @*<p class="card-text text-info" id="@tank.TankId">Initializing...</p>*@
                            <p class="card-title font-weight-bolder text-lg mb-0" style="color:rgba(0,0,0,0.6);">@tank.Name</p>
                            <p class="card-text font-weight-bolder mb-0" style="color:rgba(0,0,0,0.6);" id="@tank.TankId">Initializing...</p>
                        </div>
                    </div>
                
                    <div class="card-body py-2 px-3">
                        @*<p class="card-title font-weight-bold mb-0" style="color:@tank.HexColor;">@tank.Name</p>*@
                        <small class="card-title" style="color:@tank.HexColor;">@tank.ProductName</small>
                        @*<p class="card-text" id="@tank.TankId">Initializing...</p>*@
                    </div>

                    <button type="button" class="card-footer btn btn-info bg-info" onclick="OpenModal(this);" value="@tank.TankId" style="width: 100%;">
                        @*<i class="fas fa-info-circle mr-2"></i>*@ @tank.Name Details @*<i class="fas fa-angle-right fa-2xs"></i>*@ @*<i class="fas fa-arrow-right fa-2xs"></i>*@
                    </button>
                </div>
            </div>            
        }
    </div>
</div>


@* ---------------------- Modal Detail Tank ---------------------- *@

<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel"><b>Tank Level Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid p-0" src="~/assets/img/tank-mini2.webp" />
                            <p class="text-left mb-0">Percentage Tank Level</p>
                            <div class="progress" style="height: 20px;">
                                <div id="progLevel" class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="text-left mb-0">Percentage Tank Volume</p>
                            <div class="progress" style="height: 20px;">
                                <div id="progVolume" class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-borderless table-sm">
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Name</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td id="tbName" style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Product</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td id="tbProduct" style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Timestamp</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td id="tbTimeStamp" style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;"> Level (mm)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td id="tbLevel" style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Temperature (&deg;C)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td id="tbTemp" style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Density (gr/m&sup3;)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td id="tbDensity" style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Gross Volume (L)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td id="tbGrossVolume" style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Net Volume (L)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td id="tbNetVolume" style="padding: 8px;">&tilde;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@* ---------------------- End Modal Detail Tank ---------------------- *@
