@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<head>
    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                setInterval(loadData, 1000);//realtime load data
            });
            //end document
            function setDatatoTank(tankData) {
                
                let tankLevel = tankData.liquidLevel;
                let tankLevelFixed = tankLevel.toFixed(2);
                console.log(tankLevelFixed);
                document.getElementById(tankData.tankId).innerHTML = tankLevelFixed.toString() + " mm";
            }

            function loadData() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetData")",
                    dataType: "json",
                    success: function (result) {
                        for (tnk in result) {
                            setDatatoTank(result[tnk]);
                        }

                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            }
           
            function OpenModal(data)
            {
                jQuery.noConflict();
                $("#viewModal").modal();
                console.log(data.value);
                $("#viewModal").modal('show');
            }
            
            function getRow()
            {
                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetRow")",
                    dataType: "json",
                     success: function (result) {
                         console.log(result);

                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            }
        </script>
    }

</head>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Dashboard</h1>
        <a value="reload" onclick="document.location.reload(true)" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
            <i class="fas fa-redo-alt"></i>
        </a>
    </div>

    <!-- Tank Monitoring -->
    <div class="row">
        @{
            var tanks = ViewBag.Tanks;
        }
        @foreach (var tank in tanks)
        {
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-1 mb-3">
                <div class="card shadow bg-white rounded">
                    <img src="~/assets/img/tank-mini2.webp" class="card-img-top p-2" style="border-bottom:5px solid @tank.HexColor;" alt="tank-picture">
                
                    <div class="card-body py-2 px-3">
                        <p class="card-title font-weight-bold mb-0" style="color:@tank.HexColor;">@tank.Name</p>
                        <small class="card-title" style="color:@tank.HexColor;">@tank.ProductName</small>
                            <p class="card-text" id="@tank.TankId">Initializing...</p>
                    </div>

                    <a type="button" class="card-footer btn btn-info bg-info" onclick="OpenModal(this);" value="@tank.TankId" style="width: 100%;">
                        Detail <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-1 mb-3">
                <div class="card shadow bg-white rounded">
                    
                        <img src="~/assets/img/tank-mini2.webp" class="card-img-top p-2" style="" alt="tank-picture" />

                    <div class="card-img-overlay align-items-center justify-content-center py-2" style="background-color:rgba(79, 86, 87, 0.2); border-top:5px solid @tank.HexColor;">
                        <h3 class="card-title font-weight-bold mb-0 text-light">@tank.Name</h3>
                        <small class="card-title text-white">@tank.ProductName</small>
                        <p class="card-text text-white mb-0" id="@tank.TankId">Initializing...</p>
                        <a type="button" class="btn btn-sm btn-info bg-info" onclick="OpenModal(this);" value="@tank.TankId">
                            @tank.Name <i class="fas fa-arrow-right"></i>
                        </a>
                </div>*@
                    
                    
                
                    @*<div class="card-body py-2 px-3">
                        <p class="card-title font-weight-bold mb-0" style="color:@tank.HexColor;">@tank.Name</p>
                        <small class="card-title" style="color:@tank.HexColor;">@tank.ProductName</small>
                        <p class="card-text" id="@tank.TankId">Initializing...</p>
                    </div>*@

                    
                @*</div>
            </div>*@
        }
    </div>
    <!-- End Tank Monitoring -->

        <!-- Tank In Operation -->
        <div class="card shadow mb-4 rounded">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-info">Tank In Operation</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-striped table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Tank</th>
                                <th>Product</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tank</th>
                                <th>Product</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- End Tank In Operation -->

        <!-- Product Stock -->
        <div class="card shadow mb-4 rounded">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-info">Product Stocks</h5>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                </div>
            </div>
        </div>
        <!-- End Product Stock -->
    </div>
<!-- Modal Detail Tank -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel"><b>Tank Level Details</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid p-0" src="~/assets/img/tank-mini2.png" alt="..." width="100%" height="100%">
                            <p class="text-left mb-0">Percentage Tank Level</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                            <p class="text-left mb-0">Percentage Tank Volume</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-borderless table-sm">
                                <tbody>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Name</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Product</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Timestamp</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Status</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Liquid Level (mm)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Water Level (mm)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Temperature (&deg;C)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Density (gr/m&sup3;)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Volume Observed (L)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="padding: 8px;">Volume Net Standard (L)</th>
                                        <td style="padding: 8px;"> : </td>
                                        <td style="padding: 8px;">&tilde;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Modal Detail Tank -->