@model TMS.Web.Models.Tank


<!-- Tank Table -->
<div class="table-responsive">
    <table id="tb-tank" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TankId)
                </th>
                <th>Action</th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TankVolume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TankHeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsUsed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAutoPI)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.TankDiameter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TankForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeightSafeCapacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeightVolMax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeightPointDesk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeightTankBase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HeightDeadStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StretchCoefficient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DensityCalibrate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RaisePerMM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeadstockVolume)
                </th>*@
            </tr>
        </thead>
    </table>
</div>
